# Ignore virtual environments
.venv/
venv/

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints

# Ignore data files
data/*.csv

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store
.DS_Store
